/***************** 


    MICHAEL PEREZ STYLE SHEET 

    TABLE OF CONTENTS
    A. GLOBAL
        an. Navbar

    B. INDEX
    C. ABOUT
    D. PORTFOLIO

    F. FOOTER
    

*****************/



/***************** 

    A. GLOBAL

*****************/
.body-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    justify-content: center;
    
}
h1 {
    font-size: 82px;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}
h2 {
    font-size: 64px;
}
h3 {
    font-size: 20px;
    color: #4a4a4a
}
h2,h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #4a4a4a;
}

.mp-btn {
    display: block;
    text-align: center;
    border-radius: 50px;
}

.mp-link:hover {
    border-bottom: 4px #4A4A4A solid;
}

.mp-link, a {
    border-bottom: 4px transparent solid;
}

.mp-btn, .mp-link, a, button {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #4A4A4A;
    text-decoration: none;
    padding: 15px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a > img {
    width: 100%;
}
a.blue-btn {
    background-color: #0074C2;
    color: white;
    width: 180px;
    font-weight: 600;
}
a.blue-btn:hover {
    background-color: #025994;
}

a.yellow-btn {
    background-color: #ffb300;
    color: white;
}

.yellow-text {
    color: #ffb300 !important;
    font-weight: 700;
}
.blue-text {
    color: #0074C2 !important;
    font-weight: 800;
}
.bold-text {
    font-weight: 700;
}

.mp-big-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 100px 0;
}
.mp-yellow {
    background-color: #ffb300;
}
.mp-blue{
    background-color: #0074c2;
}

div.mp-big-container > h3 {
    margin: 50px auto 0 auto;
}
.mp-big-container > h1, .mp-big-container > h3 {
    width: 470px;
    text-align: center;
    margin: 0 auto;
}
.mp-big-container > p {
    width: 295px;
    margin: 20px auto 80px auto;
    text-align: center;
}

.down-arrow {
    margin: 0 auto;
}

.white-outline-btn {
    width: 60%;
    border: 3px white solid;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
}
.white-outline-btn:hover {
    background-color: white;
    color: #0074c2;
}

/***************** an. Nav bar *****************/

/*****************
    Nav bar - home
*****************/
.nav-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}

.nav-links {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-links:hover {
    color: #0074C2;
}

.nav-links:first-child {
    margin-left: 0px;
    margin-right: 15px;
}
.nav-links:last-child {
    margin-left: 15px;
    margin-right: 0px;
}


/*****************
    Nav bar - everwhere else
*****************/
.body-2 > .nav-color {
    position: fixed;
    background-color: #ffb300;
    top: 0;
    width: 100%;
}

.blue-nav > div > div > .nav-links:hover {
    color: #ffb300;
}


/***************** 

    B. INDEX

*****************/
body {
    margin: 0;
}

#home {
    background-image: url(/images/desktop-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-background {
    background-color: #FFFFFF;
    width: 1200px;
    padding: 40px 80px;
}

.white-background-content {
    width: 1000px;
    margin: auto auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#mpIntro {
    font-size: 36px;
}
#mpIntro  > b {
    font-size: 54px;
    color: #0074C2;
}
.me-content-container {
    width: 470px;
}
.me-content-container > p {
    font-weight: 500;
}

.view-mystuff-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.view-mystuff-container > .mp-link {
    margin-left: 50px;
}

.home-social-media {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home-social-media > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
}
.home-social-media > a:last-child {
    margin-right: 0;
}

.home-social-media > a > img {
    width: 30px;
}

.home-social-facebook {
    color: #0D71BA;
}
.home-social-linkedin {
    color: #56A1D3;
}
.home-social-github {
    color: #9A9A9A;
}

.home-social-media > a > img {
    margin-right: 10px;
}

.mp-logo {
    width: 330px;
}
.mp-logo > img {
    width: 100%;
}



/***************** 

    C. ABOUT

*****************/
.mp-big-container > h3 {
    width: ;
}

.about-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.about-content-container {
    padding: 80px 0;
}
.about-content > h3 {
    text-align: center;
    margin: 0;
}
.about-content > h2 {
    margin: 0px;
    text-align: center;
}
.about-content > p {
    width: 583px;
    text-align: center;
}

.attributes-container {
    width: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.attributes {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.attributes > p {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}



/***************** 

    D. PORTFOLIO

*****************/
#portfolio > .nav-color {
    background-color: #0074c2;
}
.mp-blue > h3 {
    font-weight: 600;
}
.mp-blue > h3, .mp-blue > p {
    color: white;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}

.projects {
    width: 25%;
    position: relative;
}
.projects > img {
    width: 100%;
}


/****** IMAGE OVERLAY ******/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0074c2;
}

.projects:hover .overlay {
    opacity: 1;
}

.text {
    width: 100%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text > h2 {
    width: 100%;
    font-size: 36px;
    margin-bottom: 0px;
}
.text > p {
    width: 100%;
    color: white;
    margin-top: 5px;
}



/***************** 

    F. FOOTER

*****************/
footer {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer > a {
    width: 35px;
    padding: 15px 0 5px 0;
}

footer > p {
    font-size: 18px;
    margin: 0;
}

.footer-social {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-social > a {
    width: 25px;
}